[user]
    name = Penek Suksuda
    email = penek@penek.rocks
    signingkey = penek@penek.rocks

[core]
    editor = vim
    excludesfile = $HOME/.gitignore_global

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[tag]
    gpgsign = true
